<html>
   <body>
    <h1>Welcome To Your Personal Roster Manager</h1>
    <p>Check the Data Structure as follows Position, Name, Team, Opponent, Player Salary, Contest Type</p>
    <p>Example: QB, Mac Jones, New England Patriots, Buffalo Bills, 5000, Classic</p>
    <a href="https://www.fantasypros.com/daily-fantasy/nfl/draftkings-salary-changes.php" target="_blank">Need to see the Draftkings Salaries this weeks. Check this link!</a><br>
    <iframe src="http://127.0.0.1:5000/roster" title="description"></iframe>
    <br>
   <br>
    <nav>
      <a href="http://localhost:5000/roster" target="_blank">See your Lineup</a><br>
      <a href="http://localhost:5000/lineup/<roster_id>" target="_blank">Need to Update My Lineup?</a><br>
      <a href="http://localhost:5000/lineup/<roster_id>" target="_blank">Need to Remove My Lineup?</a><br>
      <a href="http://localhost:5000/lineup/<roster_id>" target="_blank">Want to see an Indivduals Players stats</a>    
   </nav>
   </body>
</html>
